.contact {
    background-image: url('/images/pic2.webp');
    background-position: right center !important;
    justify-content: flex-start !important;
    color: #333;
}

.contact div {
    padding: 1rem !important;
}

.head {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.code {
    background-image: url('/images/2dcode.png');
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    align-self: flex-end;
}

.isMobile {
    display: none;
}

@media (max-width: 768px) {
    .contact {
        background-position: center center !important;
    }

    .isMobile {
        display: flex;
        width: 100%;
        align-items: left;
        padding: 0.5rem;
        margin-top: 1rem;
        background-color: transparent;
    }

    .head {
        font-size: 1.1rem;
    }

}
