.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.grid .row {
  display: flex;
  margin: 2rem;
  max-width: 100%;
  width: 100%;
  height: 500px;
  
  /* Make image center */
  background-position: right center;
 
  /* Make image fixed */
  background-attachment: scroll;

  /* Not repeat images */
  background-repeat: no-repeat;

  /* Set background size auto */
  background-size: contain;
}

.description {
  max-width: 100%;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem;
  line-height: 1.5rem;
  color: #333;
}

.isMobile {
  display: none;
}

.notMobile {
  display: flex;
}

.areas {
  font-size: 0.5rem;
  justify-content: space-around;
  padding: 0.5rem !important;
}

.areas .head {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0.5rem; 
}

.areas .head:first-child {
  margin-top: 0;
}

.hint {
  font-size: 0.5rem;
  align-self: flex-end;
  justify-content: flex-end;
}

.pic1 {
  background-image: url('/images/pic1.png');
}

.pic2 {
  background-image: url('/images/pic2.webp');
  background-position: left center !important;
  justify-content: flex-end;
}

.pic3 {
  background-image: url('/images/pic3.png');
  background-position: center center !important;
  height: 600px !important;
  margin: 2rem 0 4rem 0 !important;
}

.pic4 {
  background-image: url('/images/pic4.png');
  justify-content: space-between;
}


@media (max-width: 768px) {
  .grid {
    width: 100%;
  }

  .grid .row {
      height: 260px;
      justify-content: center;
      margin: 0.8rem;
  }

  .description {
    padding: 1rem;
  }

  .isMobile {
      display: flex;
      width: 100%;
      align-items: center;
  }

  .notMobile {
      display: none;
  }

  .pic1, .pic2, .pic4 {
    background-position: center center !important;
  }

  .pic3 {
    height: 260px !important;
    margin: 0 !important;
  }

  .head + div {
    width: 100%;
    text-align: left;
    border-bottom: 2px dotted gainsboro;
  }
  
}
