.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.logo {
  cursor: pointer;
}

.active {
  color: rgb(29, 103, 205);
  transition: 0.3s ease;
}
