.policy {
    height: 100vh;
    padding: 4rem 8rem;
    text-align: left;
}

.hint {
    font-weight: bold;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .policy {
        padding: 1rem;
    }
}
