.policy {
    height: 80vh;
    padding: 2rem 4rem;
    text-align: left;
    overflow-y:scroll;
}

.hint {
    font-weight: bold;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .policy {
        padding: 1rem;
    }
}
