.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

.grid .row {
    display: flex;
    margin: 1rem;
    width: 100%;
    height: 500px;
    justify-content: flex-end;
    align-items: center;

    /* Make image center */
    background-position: left center;

    /* Make image fixed */
    background-attachment: scroll;

    /* Not repeat images */
    background-repeat: no-repeat;

    /* Set background size auto */
    background-size: contain;
}

.isMobile {
    display: none;
}

.notMobile {
    display: flex;
}

.description {
    max-width: 400px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(240, 248, 255, 0.497);
}

.description>div {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
}

.description div img {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

@media (max-width: 768px) {
    .grid .row {
        height: 260px;
        justify-content: center;
        margin: 0;
    }

    .isMobile {
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 1rem;
    }

    .notMobile {
        display: none;
    }

    .description>div{
        padding: 0.5rem;
    }
}
